{
  "endOfLine": "auto",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}